.container {
    display: flex;
    max-width: 300px;
    justify-content: space-between;
}

.affairName {
    width: 25%;
}

.affairPriority {
    width: 25%;
}

.container button {
    width: 75px;
    height: 20px;
}

.high {
    color: red;
}

.middle {
    color: orange;
}

.low {
    color: lime;
}
