.affairWrapper {
    display: flex;
    max-width: 300px;
    justify-content: space-between;
}

.affairName {
    width: 25%;
}

.affairPriority {
    width: 25%;
}

.affairWrapper button {
    background-color: #064003;
    color: greenyellow;
    text-align: center;
    border: none;
    width: 75px;
    height: 20px;
    transition-duration: 0.3s;
}

.affairWrapper button:hover {
    background-color: green;
}

.high {
    color: red;
}

.middle {
    color: orange;
}

.low {
    color: lime;
}
