.container {
    max-width: 33%;
    margin-left: 10px;
}
.affairs {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.affairsButtons {
    margin-top: 20px;
    display: flex;
    max-width: 300px;
    justify-content: space-between;

}

.affairsButtons button {
    width: 65px;
    height: 20px;
}







