.label {
    color: lime;
}

.label input {
    appearance: none;

    border-radius: 50%;
    width: 16px;
    height: 16px;
    cursor: pointer;

    border: 2px solid #999;
    transition: 0.2s all linear;
    margin-right: 5px;

    position: relative;
    top: 4px;
}
.label input:hover {
    border: 2px solid mediumorchid;
}

.label input:checked {
    border: 6px solid mediumpurple;
}