.container {
    margin: 10px;
    max-width: 300px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.inputWrapper {
    width: 170px;
}

.container button {
    height: 21px;
    width: 65px;
}

.counter {
    color: lime;
}